<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="gft-search-bar">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `gft-search-bar`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class GftSearchBar extends Polymer.Element {
      static get is() { return 'gft-search-bar'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'gft-search-bar'
          }
        };
      }
    }

    window.customElements.define(GftSearchBar.is, GftSearchBar);
  </script>
</dom-module>
