<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./gft-search-bar.html">
<link rel="import" href="../paper-card/paper-card.html">

<dom-module id="gft-search-bar-wrapper">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card {
        border-radius: 6px 6px 6px 6px;
        margin-left: 0%;
        margin-top: 10px;
        margin-right: 10px;
        --paper-card-content: {
          width: 130px;
          padding-bottom: 4px;
        }
      }

      .content {
        display: flex;
        justify-content: space-between;
      }

      .quantity {
        margin: 5px;
        font-size: 30px ;
        color:#000000;
      }

      .name {
        margin: 5px;
        font-size: 13px ;
        color: black;
      }

      .dias {
        margin: 3px;
        font-size: 10px ;
        color: red;
        text-align: center;
      }

    </style>

    <gft-search-bar title="Productos próximos a caducar" items="{{productos}}" search-text="Buscar productos">
      <template is="dom-repeat" items="{{productos}}">
        <paper-card>
          <div class="card-content">
            <div class="content">
              <P class="quantity">{{item.quantity}} </P>
              <p class="name">{{item.name}}</p>
            </div>
              <p class="dias">{{item.dias}}</p>
          </div>
        </paper-card>
      </template>
    </gft-search-bar>
    
  </template>

  <script>
   
    class GftSearchBarWrapper extends Polymer.Element {
      static get is() { return 'gft-search-bar-wrapper'; }
      static get properties() {
        return {
          productos: {
            type: Array,
            value: [
            {
              name: "salsa de soya 1",
              dias: "vence en 10 días",
              quantity: 10
            },
            {
              name: "salsa de soya 2",
              dias: "vence en 10 días",
              quantity: 2
            },
            {
              name: "salsa de soya 3",
              dias: "vence en 10 días",
              quantity: 6
            },
            {
              name: "salsa de soya 4",
              dias: "vence en 10 días",
              quantity: 8
            },
            {
              name: "salsa de soya 5",
              dias: "vence en 10 días",
              quantity: 10
            },
            {
              name: "salsa de soya 6",
              dias: "vence en 10 días",
              quantity: 2
            },
            {
              name: "salsa de soya 7",
              dias: "vence en 10 días",
              quantity: 6
            },
            {
              name: "salsa 8",
              dias: "vence en 10 días",
              quantity: 8
            }
            ]
          }

        };
      }


    }

    window.customElements.define(GftSearchBarWrapper.is, GftSearchBarWrapper);
  </script>
</dom-module>
