<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="gft-search-bar">
  <template>
    <style>
      :host {
        display: block;
        background-color: cornflowerblue;
        padding: 20px;
      }

      .bar-serarch {
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-radius: 6px 6px 6px 6px;
        padding: 10px;
      }

      input {
        font-size: 14px;
        padding: 3px;
      }

      content-right {
        display: flex;
        justify-content: right;
      }

    </style>
    
    <div class="bar-serarch">
      {{title}}
      <div class="content-right">
        <input type="text" placeholder="[[searchText]]" value="{{valueForSearch::input}}">
        <button on-click="_searchData">Búscar</button>
      </div>
    </div>
    <slot></slot>
  </template>

  <script>
   
    class GftSearchBar extends Polymer.Element {
      static get is() { return 'gft-search-bar'; }
      static get properties() {
        return {
          items: {
            type: Array,
            value: [],
            notify: true
          },
          valueForSearch: {
            type: String
          },
          title: {
            type: String
          },
          _temp: {
            type: Array
          },
          searchText: {
            type: String
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
        this._temp = this.items;
      }

      _searchData (){
        this.items = this._temp.filter((item, index ) => {
          return item.quantity === parseInt(this.valueForSearch, 10);
        });
        console.log('items: ',this.items ,'temps: ', this._temp);
      }

    }

    window.customElements.define(GftSearchBar.is, GftSearchBar);
  </script>
</dom-module>
